*{
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 63px;
}

.logo {
    height: 20px;
    width: 150px;

}

.image {
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: right;
    gap: 10px;
}

h6 {
    margin: 0%;
}

.div1 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.select {
    border: none;
    display: flex;
    justify-content: left;
    gap: 15px;
}
.titr{
    font-size: 20px;
    text-align: center;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    padding-top: 10px;
    color: white;
   
}
.titre {
    text-align: center;
    padding-top: 10px;
    padding: 10px;
}
.box{
    border: 100px;
    border-radius: 50px;
    padding: 10px 15px;
    width: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.box input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 700px;
}
.search{
    background: #008768;
  border: none;
  color: white;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.p1 img {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
}

.p1 {

    gap: 30px;
}

.premiersect {
    display: flex;
    gap: 60px;
    padding: 30px;
}

.descr {
    font-size: 20px;
    text-align: center;
}