* {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 63px;
}
body {
    margin: 0;
    padding: 0;
}
.logo {
    height: 20px;
    width: 150px;

}

.image {
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: right;
    gap: 10px;
}

h6 {
    margin: 0%;
}

.div1 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.select {
    border: none;
    display: flex;
    justify-content: left;
    gap: 15px;
}

.titr {
    position: relative;
    background-image: url(background1.jpg);
    background-size: cover;
    border-radius: 20px;
    background-position: center;
    height: 80vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}
.titr::before{
    content: "";
    position:absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    border-radius: 20px;
    z-index: 1;
}
.titr > *{
    position: relative;
    z-index: 2;
}

.titre {
    
    font-size: 50px;
    padding-top: 40px;
}

h2 {
    margin: 10px 0 30px;
    font-size: 22px;
}
.box {

    border-radius: 50px;
    padding: 10px 15px;
    width: 450px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.box input {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
}

.search {
    background: #008768;
    border: none;
    color: white;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.p1 img {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
}

.p1 {

    gap: 30px;
}

.premiersect {
    display: flex;
    gap: 60px;
    padding: 30px;
}

.descr {
    font-size: 15px;
    text-align: center;
}

.desc{
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.sec2{
    display: flex;
    gap: 60px;
    padding: 30px;
}
.t img{display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
}
.icon img{
    width: 45px;
    height:45px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.partie3{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #dff9f4;
    height: 90px;
    padding-top: 20px;
}
.icons{
    width: 30px;
    height:30px;
}
.imagg{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.quest{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;

}

.sn{
    border-top:1px solid black;
}

.re{
    border: none;
}

.list{
    padding: 0 20px;
    margin: 40px 0;

}
.pagination {
  display: flex;
  gap: 15px;
justify-content: center;
  padding: 40px;
}

.pagination span {
  padding: 6px 12px;
  border-radius: 50%;
  cursor: pointer;
  color: green;
}

.pagination .active {
  background: green;
  color: white;
}
.pagination .active1 {
  background:rgb(217, 215, 215);
  color:green;
}