* {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 63px;
}
body {
    margin: 0;
    padding: 0;
}
.logo {
    height: 20px;
    width: 150px;

}

.image {
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: right;
    gap: 10px;
}

h6 {
    margin: 0%;
}

.div1 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.select {
    border: none;
    display: flex;
    justify-content: left;
    gap: 15px;
}

.titr {
    font-size: 20px;
    text-align: center;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.titre {
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
}
.titre h2{
    margin: 10px 0 30px;
    font-size: 22px;
}
.box {
    border: 100px;
    border-radius: 50px;
    padding: 10px 15px;
    width: 450px;
    background-color: white;
    display: flex;
    align-items: center;
    flex: 1;
}

.box input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
}

.search {
    background: #008768;
    border: none;
    color: white;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.p1 img {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
}

.p1 {

    gap: 30px;
}

.premiersect {
    display: flex;
    gap: 60px;
    padding: 30px;
}

.descr {
    font-size: 20px;
    text-align: center;
}

.desc {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.part {
    background-color: #008768;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    align-items: center;
}
.partie{
    display: flex;
    justify-content: center;
    color: green;
    gap: 10px;
}
.parte{
     background-color: #f4fcfa ;
     border: 1px solid #008768;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.sec2{
    display: flex;
    gap: 60px;
    padding: 30px;
}
.t img{display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
}
.icon img{
    width: 50px;
    height:50px;
}
.icon{
    display: flex;
    font-size: 20px;
}
.partie3{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #dff9f4;
    height: 90px;
    padding-top: 20px;
}
.icons{
    width: 30px;
    height:30px;
}
.imagg{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.quest{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;

}

.sn{
    border-top:1px solid black;
}

.re{
    border: none;
}

.list{
    padding: 0 20px;
    margin: 40px 0;

}